

#name{
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: plum;
}
#rrrr{
  font-size: 50px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: yellow;
}
.ddd{
  
  color:rgb(105, 255, 188);
}
.kkk{
color:hotpink;
}
#sex{
color: blue;
}
#pic{
  height: 60px;
  width: 60px;
}