body {
    font-family: Arial, sans-serif;
   
    margin: 300px;
    padding: 5px;
    display: flex;
    direction: auto;
    height: 30vh;
    
    background: url('https://images.pexels.com/photos/5874652/pexels-photo-5874652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') 
    
}

button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    direction: auto;
    transition: 0.3s;
    border-radius: 6px;
}

content{
    width: 100%;
    height: 20vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 200px;
    direction: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    direction: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}
