.body {
   
    box-sizing: border-box;
    font-family: Arial, sans-serif;
 
}

.logo img {
    height: 50px;
    padding: 1px 50px;
}

nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto; 
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #2F3E2D;
    font-weight: bold;
    position: relative;
}

nav ul li a.active {
    font-weight: bold;
}

nav ul li a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2F3E2D;
    margin-top: 5px;
}


.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.icons i {
    font-size: 18px;
    cursor: pointer;
    
    
}

.cart-btn {
    background-color: #F5D2A5;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.sub-menu {
    background-color: #DFA044;
    padding: 15px 0;
    text-align: center;
}

.sub-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

.sub-menu ul li {
    display: inline;
}

.sub-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.sub-menu ul li a:hover {
    text-decoration: underline;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('https://www.muccomtam.vn/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackground.a7ada451.png&w=1920&q=100') no-repeat center center/cover;
    background-size: cover; 
    padding: 300px 30px 60px 200px; 
    color: white;
}

.banner-content {
    max-width: 500px;
    animation: fadeInLeft 1.5s ease-in-out;
}

.subtitle {
    font-size: 20px;
    margin: 10px 0;
}

.badge {
    background: #EABE6C;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.cta-btn {
    background: #EABE6C;
    border: none;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background 0.3s;
    margin-top: 20px; 
    
}

.cta-btn:hover {
    transform: scale(1.1);
    background: #d99c52;
}

.small-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('https://www.muccomtam.vn/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbackground.a7ada451.png&w=1920&q=100') no-repeat center center/cover;
    background-size: contain; 
    padding: 200px; 
    color: white;
    margin-top: 0; 
    background-color: #FFF8F1;
    
}

.small-banner-content {
    max-width: 500px;
    text-align: center;
    font-size: 180px; 
    
}

.small-banner .cta-btn {
    background: #EABE6C;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background 0.3s;
    margin-top: 20px; 
}

.small-banner .cta-btn:hover {
    transform: scale(1.1);
    background: #d99c52;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.footer {
    background-color: #FFF8F1;
    color: #1B4536;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.signature {
    background-color: #FFF8F1;
    color: #1B4536;
    text-align: left;
    padding: 20px 0;
    padding: 10px 0 0 20px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin-bottom: 0; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1 {
  margin-bottom: 20px;
}


.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
  
}


.product-card {
  width: 260px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  
}
.banchay{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: #FFF8F1;
    
}


.badge-sell {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #b32d2e;
  color: #fff;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}


.badge-fav {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #c69c5d; 
  color: #fff;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}


.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  object-fit: cover;
  
}
.product-card img:hover{
    transform: scale(1.5em);
}


.product-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}


.product-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}


.price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn-try {
  background-color: #F5D2A5;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #8B4513;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.btn-try:hover {
  background-color: #ecc08f;
  transform: scale(1.05);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  .product-card {
    position: relative;      
    width: 300px;            
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: left;       
    border: 1px solid #f1dec8; 
  }
  
 
  .badge-sell {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #b32d2e;       
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
 
  .badge-sold {
    position: absolute;
    top: 145px;
    right: 15px;
    background: #fff7e8;       
    color: #c69c5d;           
    font-size: 13px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #f3dab4; 
  }
  
 
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
 
  .product-name {
    font-size: 16px;
    color: #2F3E2D;
    margin-bottom: 6px;
  }
  
 
  .product-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
    line-height: 1.4;
  }
  
 
  .product-price {
    font-size: 20px;
   
    font-weight: bold;
    color: #C69C5D;
    margin-bottom: 0px;
  }
  
 
  .btn-try {
    background-color: #F5D2A5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #8B4513;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
  }
  
  .btn-try:hover {
    background-color: #ecc08f;
    transform: scale(1.05);
  }
  .tenmon{
    margin-top: 20px;
   
    padding: 10px 0 0 20px;
  }
.comtam{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.thitnuong{
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.monthem{
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.canh{
  display: flex;
  gap:50px;
  padding: 40px 60px;
}
.thucuong{
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.trangmieng{
  display: flex;
  gap: 50px;
  padding: 40px 60px;
}
.footer2 {

  background-color: #C69C5D; 
  background-image: url(https://www.muccomtam.vn/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fpattern.7eccf713.png&w=1920&q=75);
  color: #fff;
  padding: 40px 20px;
  
}

.footer-container2 {
  max-width: 1200px;   
  margin: 0 auto;     
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo-info2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 0 20px 0px;
}

.footer-logo2 {
  height: 50px; 
}


.footer-links2 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}


.footer-col2 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase; 
  font-weight: bold;
}

.footer-col2 ul {
  list-style: none;
}

.footer-col2 ul li {
  margin-bottom: 6px;
}

.footer-col2 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s;
}

.footer-col2 ul li a:hover {
  opacity: 0.8;
}


.footer-col2 ul li {
  font-size: 14px;
}


.footer-bottom2 {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
}